---
title: work-one
page: work-one
hero: {
  bg: 'bg-hero-work-one.jpg',
  title: 'переоборудование салона <br>Mercedec Sprinter 313',
  breadcrumbs: {
    list: [
      { link: 'Главная' },
      { item: '-' },
      { link: 'Примеры работ' },
      { item: '-' },
      { link: 'Mercedec sprinter 313', modLink: 'is-active' }
    ]
  }
}
sectionGallery: {
  title: {
    title: 'фотогалерея <span class="accent">проекта</span>'
  }
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-about-text.html" %}
  {% include "partials/sections/_s-gallery.html" %}
  {% include "partials/sections/_s-call.html" %}
  {% include "partials/sections/_s-works-other.html" %}
{% endblock %}
