---
title: works
page: works
hero: {
  bg: 'bg-hero-works.jpg',
  title: 'примеры работ',
  breadcrumbs: {
    list: [
      { link: 'Главная' },
      { item: '-' },
      { link: 'Примеры работ', modLink: 'is-active' }
    ]
  }
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-all-works.html" %}
  {% include "partials/sections/_s-call.html" %}
  {% include "partials/sections/_s-gallery.html" %}
{% endblock %}
