{{ mixins.list(
  name = 'nav',
  modifications = { wrap: '', item: '', link: '' },
  list = [
    { link: 'Главная' },
    { link: 'Наши услуги', modItem: 'current active deeper parent', item: '
      <ul class="nav-child unstyled small"><li class="item-128"><a href="/ru/nashi-uslugi/kuzovnye-raboty">Кузовные работы</a></li><li class="item-129"><a href="/ru/nashi-uslugi/avtomobilnye-konditsionery">Автомобильные кондиционеры</a></li><li class="item-136"><a href="/ru/nashi-uslugi/shumo-vibroizolyatsiya-salona">Шумо-Виброизоляция салона</a></li><li class="item-137"><a href="/ru/nashi-uslugi/ustanovka-divanov-i-sidenij">Установка диванов и сидений</a></li><li class="item-138"><a href="/ru/nashi-uslugi/avarijnye-lyuki-i-shtorki">Аварийные люки и шторки</a></li><li class="item-139"><a href="/ru/nashi-uslugi/elektrooborudovanie">Электрооборудование</a></li><li class="item-140"><a href="/ru/nashi-uslugi/oformlenie-dokumentov">Оформление документов</a></li><li class="item-141"><a href="/ru/nashi-uslugi/prodazha-komplektuyushchikh">Продажа комплектующих</a></li></ul>
    ' },
    { link: 'о нас' },
    { link: 'Примеры работ', modItem: 'deeper parent', item: '
      <ul class="nav-child unstyled small">
        <li class="item-128 deeper parent">
          <a href="/ru/nashi-uslugi/kuzovnye-raboty">Кузовные работы</a>
          <ul class="nav-child unstyled small"><li class="item-157"><a href="/ru/primery-rabot/mercedes/mercedes-sprinter">Mercedes Sprinter</a></li><li class="item-158"><a href="/ru/primery-rabot/mercedes/mercedse-vito">Mercedse Vito</a></li></ul>
        </li>
        <li class="item-129"><a href="/ru/nashi-uslugi/avtomobilnye-konditsionery">Автомобильные кондиционеры</a></li>
      </ul>
    ' },
    { link: 'Новости' },
    { link: 'Контакты' }
  ]
) }}