{%set
form = {
  title: 'заказать звонок',
  fields: [
    {
      name: 'input',
      mod: '',
      type: 'text',
      placeholder: 'Имя',
      fieldClass: '',
      label: {}
    },
    {
      name: 'input',
      mod: '',
      type: 'tel',
      placeholder: '+38 ( _ _ _ ) _ _ _ - _ _ - _ _',
      fieldClass: '',
      label: {}
    },
    {
      name: 'checkbox',
      mod: '',
      type: 'checkbox',
      placeholder: '',
      fieldClass: '',
      label: { last: { span: true, title: 'Я согласен на обработку персональных данных' } },
      fieldAttributes: { checked: '' }
    }
  ]
}
%}

<!-- begin popup -->
<div class="popup popup--sm js-popup" data-popup="call">
  <div class="popup__inner">
    <button class="popup__close js-popup-close"></button>

    <div class="popup__form">
      {% include "partials/_form.html" %}
    </div>
  </div>
</div>
<!-- end popup -->