{% if page === 'work-one' %}
<!-- begin section -->
<section class="section{% if sectionAboutText.mod %} {{ sectionAboutText.mod }}{% elseif not sectionAboutText.pb %} pb-0{% endif %}">
  <div class="container">
    {% if not sectionAboutText.title.hidden %}
    <div class="section__title">
      <h2 class="title title--h2">Описание <span class="accent">проекта</span></h2>
    </div>
    {% endif %}
    <!-- begin article -->
    <div class="article">
      <img class="js-lazy" alt="" src="" data-src="./img/article-img-02.jpg"/>

      <p>Как переоборудовать микроавтобус и не пожалеть об этом? Этим вопросом задаётся каждый владелец грузового фургона, желающий переделать его 
      в комфортабельный пассажирский микроавтобус для своих нужд. Существенная разница в стоимости такого микроавтобуса и заводского минивэна стала основной причиной большого спроса на услуги по переоборудованию. А спрос, как известно, рождает предложение. Каждый, кто хоть как то умел держать в руках инструмент, стал открывать "фирму" и предлагать соответствующие услуги</p>
      <p>Высокая конкуренция способствовала расширению списка услуг, повышению качества и снижению стоимости переоборудования микроавтобусов. Однако, производство на многих "фирмах" в Бердичеве и по всей Украине, так и осталось на уровне кустарного.конкуренция способствовала расширению списка услуг</p>

      <p>Существенная разница в стоимости такого микроавтобуса и заводского минивэна стала основной причиной большого спроса на услуги по переоборудованию. </p>

    </div>
    <!-- end article -->
  </div>
</section>
<!-- end section -->
{% else %}
<!-- begin section -->
<section class="section{% if sectionAboutText.mod %} {{ sectionAboutText.mod }}{% elseif not sectionAboutText.pb %} pb-0{% endif %}">
  <div class="container">
    {% if not sectionAboutText.title.hidden %}
    <div class="section__title">
      <h2 class="title title--h2">переоборудование <div class="accent">микроавтобусов</div></h2>
    </div>
    {% endif %}
    <!-- begin article -->
    <div class="article">
      <img class="js-lazy" alt="" src="" data-src="./img/article-img-01.jpg"/>

      <p>Как переоборудовать микроавтобус и не пожалеть об этом? Этим вопросом задаётся каждый владелец грузового фургона, желающий переделать его 
      в комфортабельный пассажирский микроавтобус для своих нужд. Существенная разница в стоимости такого микроавтобуса и заводского минивэна стала основной причиной большого спроса на услуги по переоборудованию. А спрос, как известно, рождает предложение. Каждый, кто хоть как то умел держать в руках инструмент, стал открывать "фирму" и предлагать соответствующие услуги</p>
      <p>Высокая конкуренция способствовала расширению списка услуг, повышению качества и снижению стоимости переоборудования микроавтобусов. Однако, производство на многих "фирмах" в Бердичеве и по всей Украине, так и осталось на уровне кустарного.конкуренция способствовала расширению списка услуг</p>

      <p>Существенная разница в стоимости такого микроавтобуса и заводского минивэна стала основной причиной большого спроса на услуги по переоборудованию. </p>

      <p>Высокая конкуренция способствовала расширению списка услуг, повышению качества и снижению стоимости переоборудования микроавтобусов. Однако, производство на многих "фирмах" в Бердичеве и по всей Украине, так и осталось на уровне кустарного. Часто такие умельцы производят переоборудование транспорта в небольших гаражах, пренебрегая правилами техники безопасности и без соблюдения требований к безопасности пассажирских перевозок. В отличие от последних, производство компании Люкс Центр, находится в промышленной зоне города Бердичева, в специализированных цехах общей площадью более 1000 м2., У нас есть собственные складские помещения со всеми необходимыми материалами и комплектующими для переоборудования микроавтобусов. Мы сняли для Вас короткое видео, просмотрев которое, Вы точно сможете убедиться, что доверяете переоборудование своего микроавтобуса настоящим профессионалам своего дела...
      </p>

      <p>Часто такие умельцы производят переоборудование транспорта в небольших гаражах, пренебрегая правилами техники безопасности и без соблюдения требований к безопасности пассажирских перевозок. В отличие от последних, производство компании Люкс Центр, находится в промышленной зоне города Бердичева, в специализированных цехах общей площадью более 1000 м2., У нас есть собственные складские помещения со всеми необходимыми материалами и комплектующими для переоборудования микроавтобусов. Мы сняли для Вас короткое видео, просмотрев которое, Вы сможете убедиться, что доверяете переоборудование своего дела..</p>
    </div>
    <!-- end article -->
  </div>
</section>
<!-- end section -->
{% endif %}