<!-- begin section -->
<section class="section s-banner js-lazy" data-background-image="./img/bg-order.jpg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-5 col-lg-7">
        {{ mixins.textBlock(
          upttl = { title: 'продажа, установка, заправка, диагностика и ремонт' },
          mod = 's-banner__text-block',
          title = { title: 'автомобильных <span class="accent">кондиционеров</span>', mod: 'title--h2-md' },
          texts = [
            {
              text: 'Если Вы ищете автомобильный кондиционер и не можете определиться
              с выбором - обращайтесь в компанию «АВТОКЛИМАТ Бердичев».
              Наша специализация - климат автомобиля: продажа, установка 
              и обслуживание климатической техники. Мастера компании знают 
              все об автокондиционерах - неизменные бестселлеры
               и новинки в данной сфере.'
            }
          ],
          button = {
            title: 'Перейти на сайт',
            href: '#'
          }
        ) }}

      </div>

      <div class="col-xl-7 col-lg-5">
        <img class="js-lazy" alt="" src="" data-src="./img/car.png"/>
      </div>
    </div>
  </div>
</section>
<!-- end section -->