{%set
features = [
  {
    mod: 'feature--sm',
    icon: 'security-on',
    title: { title: 'Гарантия', mod: 'title--h6' },
    text: '12 месяцев'
  },
  {
    mod: 'feature--sm',
    icon: 'tag',
    title: { title: 'самые Низкие', mod: 'title--h6' },
    text: 'цены в городе'
  },
  {
    mod: 'feature--sm',
    icon: '24-hours-symbol',
    title: { title: 'Установка', mod: 'title--h6' },
    text: 'от 24 часов'
  }
]
%}

{%set
form = {
  title: 'Оставить заявку <br> <small>на переоборудование</small>',
  fields: [
    {
      name: 'input',
      mod: '',
      type: 'text',
      placeholder: 'Имя',
      fieldClass: '',
      label: {}
    },
    {
      name: 'input',
      mod: '',
      type: 'tel',
      placeholder: '+38 ( _ _ _ ) _ _ _ - _ _ - _ _',
      fieldClass: '',
      label: {}
    },
    {
      name: 'checkbox',
      mod: '',
      type: 'checkbox',
      placeholder: '',
      fieldClass: '',
      label: { last: { span: true, title: 'Я согласен на обработку персональных данных' } },
      fieldAttributes: { checked: '' }
    }
  ]
}
%}

<!-- begin section -->
<section class="section section--sm s-order js-lazy" data-background-image="./img/bg-order.jpg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-5 col-lg-7">
        {{ mixins.textBlock(
          mod = 's-order__text-block',
          title = { title: 'Готовы заказать <small>переоборудование?</small>', mod: 'title--h2-md' },
          texts = [
            {
              text: 'Оставляйте ваши данные в форме и наш менеджер свяжется с вами в ближайшее время для уточнения всех деталей.'
            }
          ]
        ) }}

        <!-- begin features -->
        <div class="features features--sm s-order__features">
          {% for i in features %}
          <div class="features__item">
            {% include "partials/_feature.html" %}
          </div>
          {% endfor %}
        </div>
        <!-- end features -->
      </div>

      <div class="col-xl-4 col-lg-5 offset-xl-2">
        {% include "partials/_form.html" %}
      </div>
    </div>
  </div>
</section>
<!-- end section -->