{%set
services = [
  {
    img: '01.jpg',
    title: 'Кузовные работы',
    text: 'комплексное переоборудование грузовых
микроавтобусов на их грузопассажирские
или пассажирские варианты.'
  },
  {
    img: '01.jpg',
    title: 'Кузовные работы',
    text: 'комплексное переоборудование грузовых
микроавтобусов на их грузопассажирские
или пассажирские варианты.'
  },
  {
    img: '01.jpg',
    title: 'Кузовные работы',
    text: 'комплексное переоборудование грузовых
микроавтобусов на их грузопассажирские
или пассажирские варианты.'
  },
  {
    img: '01.jpg',
    title: 'Кузовные работы',
    text: 'комплексное переоборудование грузовых
микроавтобусов на их грузопассажирские
или пассажирские варианты.'
  },
  {
    img: '01.jpg',
    title: 'Кузовные работы',
    text: 'комплексное переоборудование грузовых
микроавтобусов на их грузопассажирские
или пассажирские варианты.'
  },
  {
    img: '01.jpg',
    title: 'Кузовные работы',
    text: 'комплексное переоборудование грузовых
микроавтобусов на их грузопассажирские
или пассажирские варианты.'
  },
  {
    img: '01.jpg',
    title: 'Кузовные работы',
    text: 'комплексное переоборудование грузовых
микроавтобусов на их грузопассажирские
или пассажирские варианты.'
  },
  {
    img: '01.jpg',
    title: 'Кузовные работы',
    text: 'комплексное переоборудование грузовых
микроавтобусов на их грузопассажирские
или пассажирские варианты.'
  },
  {
    img: '01.jpg',
    title: 'Кузовные работы',
    text: 'комплексное переоборудование грузовых
микроавтобусов на их грузопассажирские
или пассажирские варианты.'
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    {% if not sectionServices.title.hidden %}
    <div class="section__title">
      <h2 class="title title--h2">какие услуги <span class="accent">мы предлагаем</span></h2>
    </div>
    {% endif %}
    <!-- begin services -->
    <div class="services">
      <div class="row">
        {% for i in services %}
        <div class="col-lg-4 col-sm-6">
          <!-- begin service -->
          <a href="#" class="service-link js-lazy" data-background-image="./img/services/{{ i.img }}">
            <span class="service-link__content">
              <span class="service-link__title">
                <span class="title title--h5 title--white title--ttn">{{ i.title | safe }}</span>
              </span>

              <span class="service-link__text">{{ i.text | safe }}</span>

              <span class="service-link__link link">
                <span class="link__title">подробнее</span>
                <span class="link__arrow"></span>
              </span>
            </span>
          </a>
          <!-- end service -->
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- end services -->
  </div>
</section>
<!-- end section -->