.gallery
  $this: &
  +flex(flex-start, normal, row, wrap)
  &__slider
    width: 50%
    padding-right: 15px
    +sm
      width: 100%
      padding-right: 0
      margin-bottom: 15px
  &__thumbs
    width: 50%
    padding-left: 15px
    +flex(center, normal, column)
    +sm
      width: 100%
      padding-left: 0
  &__img
    padding-top: 60%
    position: relative
    +cover
    +hover
      #{$this}__img-cover
        +visible
  &__thumb
    padding-top: 30%
    display: block
    +cover

  &__img-cover
    +coverdiv
    background-color: rgba($black, .7)
    z-index: 1
    pointer-events: none
    +flex(center, center)
    +hidden
    +tr(visibility .3s, opacity .3s)    
  &__img-icon
    border-radius: 50%
    color: $black
    background-color: rgba($white, .5)
    +flex(center, center)
    width: 45px
    height: 45px
    .icon
      font-size: 21px